<h1 class="text-xl block text-center  justify-center mx-auto">Limelight SMP </h1>
<div class="block text-center  justify-center mx-auto">
    
    <div>
        <p class="">
            Limelight is a 100% content creator server where every member is equal.</p><br>

            <p class=" "> Our mission statement is community, creativity, content... & a little chaos.</p><br>
    </div>
    <div class="flex items-center justify-center">Season 2 playlist
        
    </div> 
    <div class="flex items-center justify-center">Community Discord

    </div>
    <div class="block mb-4 text-xl text-center justify-center ">
        <p >Check out the LimelightSMP socials here!</p>
        <div class="flex items-center justify-center" >
        {{ settings:social }}
            <a href="{{ $url }}" class="ml-4" aria-label="{{ $name }}" rel="noopener">
                {{ svg :src="icon_field" class=" hover:text-green-700" }}
            </a>
        {{ /settings:social }}
    </div>
    </div>
</div>
