@import "tailwindcss/base";

@import "code";
@import "content";
@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

svg{
    height: 50px;
    width: 50px;
    fill: white;
}
svg:hover{
    fill: limegreen;
}
