<div class="transition-all  items-center justify-center duration-75 ease-in-out h-full block top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-zinc-800 shadow-lime-400/50 rounded-xl overflow-hidden">
    <img class="px-6 py-6 items-center justify-center rounded-xl" src="{{ $hero_image }}" alt="{{ $hero_image:alt }}">
    <div class="px-6 py-6 items-center justify-center">
        <h3 class="font-bold text-2xl">
            {{ $title }}
        </h3>
        <p class="text-xl text-gray-600 flex mt-2">
            {{ replicator_field}}
                <a href="{{ external_link_field}}" class="ml-4">{{ icon_field }}</a>
            {{ /replicator_field }}
        </p>
    </div>
</div>
