<div class="transition-all items-center justify-center duration-75 ease-in-out h-full block top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-zinc-800 shadow-lime-400/50 rounded-xl">
    <img class="px-6 py-6 mt-4 rounded-xl" src="{{ $hero_image }}" alt="{{ $hero_image:alt }}">
    <div class="block mt-2 mb-2 pb-2 pt-4 text-center">
        <h3 class="font-bold text-1xl">
            {{ $title }}
        </h3>
        <p class="pt-4 pb-4 px-6 py-6 items-center justify-center flex">
            {{ replicator_field}}
                <a href="{{ external_link_field}}" class="ml-2">{{ icon_field }}</a>
            {{ /replicator_field }}
        </p>
    </div>
</div>
