<article class="max-w-6xl mx-auto px-3">
    <header class="mx-auto max-w-xl text-center content">
        <h1 class="mb-4">Limelight SMP  •  The Team</h1>
        <p>
            Limelight is a 100% content creator server where every member is equal.
            
            Our mission statement is community, creativity, content... & a little chaos.
            
            Meet the cast!</p>
    </header>
    {{ collection:blog as="posts" paginate="35" sort="title:asc" }}
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 py-8">
            {{ posts }}
                <div class="{{ $first ? 'md:col-span-1' : 'col-span-1' }}">
                    {{ partial:blog/card :oversized="first" }}
                </div>
            {{ /posts }}
        </section>
        {{ paginate }}
            {{ if $prev_page || $next_page }}
            <section class="flex space-x-8 justify-center text-xl pt-16 font-bold">
                {{ if $prev_page }}
                    <a href="{{ $prev_page }}"><span class="squiggle">&larr;</span> Newer articles</a>
                {{ /if }}
                {{ if $next_page }}
                    <a href="{{ $next_page }}">Older articles <span class="squiggle">&rarr;</span></a>
                {{ /if }}
            </section>
            {{ /if }}
        {{ /paginate }}
    {{ /collection:blog }}
</article>
