<article class=" mx-16 px-4 bg-zinc-600 rounded-lg">
    <header class="mx-auto max-w-xl text-center content">
        <h1 class="mt-6 pt-4 text-2xl">Meet The Team</h1>
        
    </header>
    {{ collection:blog as="posts" sort="title:asc" }}
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 py-8 pl-8">
            {{ posts }}
                <div class="{{ $first ? 'md:col-span-1' : 'col-span-1' }}">
                    {{ partial:blog/card :oversized="first" }}
                </div>
            {{ /posts }}
        </section>
    {{ /collection:blog }}
</article>
